html {
    -webkit-text-size-adjust: none;
}
body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    font-weight: 100;
    padding:0;
    margin:0;
}
p{
    font-weight:100;
    margin:0 auto;
    width: 80%;
    text-align: center;
}
p strong{
    font-weight: bold;
}
a{
    color: #FF0973;
    text-decoration:none;
    border-bottom: 2px solid #FF0973;
}
a:hover,
a:focus{
    transition: color .6s ease;
    color: #3ca8ff;
    border:none;
}
h2{
    color: #4c4c4c;
    text-align: center;
    font-size: 150%;
    margin: 5vw auto 2vw auto;
    touch-action: manipulation;
}
hr{
    width: 80%;
    height: 30px;
    border-style: solid;
    border-color: #efefef;
    border-width: 4px 0 0 0;
    margin: 3vw auto 0 auto;
}

.background{
    position:absolute;
    display:block;
    z-index: 10;
    height:250px;
    width:250px;
    border-radius: 300px;
    border: 1px solid rgba(255, 9, 115, 0.18);
    margin:0;
    background-image:linear-gradient(0, #ffe0f8, #fff3f4);
    touch-action: manipulation;
}
.background a{
    display:block;
    width:250px;
    height:250px;
    border: none !important;
}
.background:hover,
.background:focus {
    opacity: .5;
    transition: opacity .5s;
}
.unlocked{
    position:relative;
    text-align: center;
    margin:5vw auto;
    -webkit-tap-highlight-color: transparent;
}
.fixed{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#description{
    margin:0 auto;
    touch-action: manipulation;
}
#wrapper{
    touch-action: manipulation;
}

#heart{
    z-index:200;
    z-index: 100;
    display:none;
}
#heart button{
    border:none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    color:#ff0973;
    touch-action: manipulation;
}
#heart i{
    -webkit-transition: font-size 2s;
    -moz-transition: font-size 2s;
    -o-transition: font-size 2s;
    transition: font-size 2s;
    animation: heartbeat 2.8s linear infinite;
}
#heart button:hover,
#heart button:focus{
    cursor: pointer;
    color: #ff35a5;
}
@keyframes heartbeat {
    0%{transform: scale(1,1)}
    50%{transform: scale(0.9,1)}
    100%{transform: scale(1,1)}
}
#progress{
    margin: 0 auto;
    margin-top:500px;
    width:50%;
    text-align: center;
}

progress {
    color:#ff0973;
    background-color: #f3f3f3;
    border: 0;
    height: 10px;
    border-radius: 9px;
}
progress::-webkit-progress-bar {
    border-radius: 9px;
    background: #e4e4e4;
}
progress::-webkit-progress-value {
    background: #ff35a5;
    background: -moz-linear-gradient(top, #ffe0f8 0%, #ff35a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe0f8), color-stop(100%,#ff35a5));
    background: -webkit-linear-gradient(top,  #ffe0f8 0%,#ff35a5 100%);
    background: -o-linear-gradient(top,  #ffe0f8 0%,#ff35a5 100%);
    background: -ms-linear-gradient(top,  #ffe0f8 0%,#ff35a5 100%);
    background: linear-gradient(to bottom,  #ffe0f8 0%,#ff35a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
    border-radius: 9px;
}
progress::-moz-progress-bar {
    background: #ff35a5;
    background: -moz-linear-gradient(top,  #ffe0f8 0%, #ff35a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe0f8), color-stop(100%,#ff35a5));
    background: -webkit-linear-gradient(top,  #ffe0f8 0%,#ff35a5 100%);
    background: -o-linear-gradient(top,  #ffe0f8 0%,#ff35a5 100%);
    background: -ms-linear-gradient(top,  #ffe0f8 0%,#ff35a5 100%);
    background: linear-gradient(to bottom,  #ffe0f8 0%,#ff35a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
    border-radius: 9px;
}

#footer{
    width:100%;
    text-align: center;
    color: #ccc !important;
    margin:1vw auto 0 auto;
    padding: 2vw 0;
    background: rgb(13,50,87);
    background: radial-gradient(circle, rgba(13,50,87,1) 0%, rgba(2,0,36,1) 100%);
}
#footer p{
    color: #4f7188;
}
#footer hr{
    margin:0 auto;
    height:1px;
    padding: 0;
    border-top: 1px solid #4f7188;
    width:210px;
}
#footer a{
    padding: 0;
    margin:0;
    color:#4f7188;
    border:none;
}
#footer a i{
    margin: 0 5px;
}
#footer a:hover{
    color: #78a8cb
}
@media only screen and (max-width: 600px) {
    h2{
        font-size: 100%;
    }
}